<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .footerbody {
      background-color: #18445d;
      height: 200px;
    }

    /* footer{
  margin-top: 200px;
} */
    .footerbody .image {
      margin-left: 100px !important;
      background: rgba(116, 114, 114, 0.8);
      border-radius: 50%;
    }

    .newslettersection {
      background-color: rgba(22, 77, 102, 0.8);

    }


    .newsinput {
      margin: auto;
    }
  </style>
</head>

<body>

  <div class="container-fluid text-light" id="About">
    <footer class="">
      <div class="row">
        <div class=" container-fluid col-md-12 newslettersection   ">
          <form class='py-4 mb-3'>
            <h5 class='text-center'>Subscribe to our newsletter</h5>
            <p class='text-center'>Monthly digest of what's new and exciting from us.</p>
            <div class="d-flex flex-column flex-sm-row w-50 gap-2 newsinput">
              <label for="newsletter1" class="visually-hidden">Full Name</label>
              <input id="newsletter1" type="text" class="form-control" placeholder="Full Name" />
              <label for="newsletter1" class="visually-hidden">Email address</label>
              <input id="newsletter1" type="text" class="form-control" placeholder="Email address" />
              <button class="btn btn-primary" type="button">Subscribe</button>
            </div>
          </form>
        </div>


        <div class="d-flex align-items-center footerbody pt-3 ">

          <div class='mx-3 image'>
            <img class='d-block mx-3' src="/static/images/logo.png" alt='image not found'
              style=" width: 100px; height: 100px;">
            <span class="fs-4 text-warning logoname">Trip Wonder</span>
          </div>
          <div class='col-md-3'>
            <span>Trip Wonder Digital Publication Pvt. Ltd</span><br />
            <span>Copyright © Trip Wonder Digital Publication Pvt. Ltd</span><br />
            <span>All Rights Reserved</span>
          </div>
          <div class="col-6 col-md-1 mx-5">
            <h5>Section</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">About Us</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Privacy and Policy</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">FAQs</a></li>
            </ul>
          </div>
          <div class="mx-3">
            <h2 class=" fs-4 text-light">Follow Us On:</h2>
            <ul class="d-flex flex-column flex-sm-row justify-content-between list-unstyled d-flex">

              <li class="fs-2"><a class="link-body-emphasis" href="#"></a><i class='bx bxl-facebook-circle'></i></li>
              <li class="fs-2 ms-3"><a class="link-body-emphasis" href="#"></a><i class='bx bxl-instagram-alt'></i></li>
              <li class="fs-2 ms-3"><a class="link-body-emphasis" href="#"></a><i class='bx bxl-twitter'></i></li>
              <li class="fs-2 ms-3"><a class="link-body-emphasis" href="#"></a><i class='bx bxl-github'></i></li>

            </ul>
          </div>

      </div>





  </div>
  <div class="d-flex flex-column flex-sm-row justify-content-between py-2 my-2 ">
    <p class='text-dark m-auto fs-5'>Powered By : Trip Wonder Digital Publication Pvt. Ltd</p>
    <p class='text-dark m-auto fs-5'>Developed By : Shubham & Pramit Group of Nepal</p>

  </div>
  </footer>
  </div>
</body>

</html>